/* @font-face {
    font-family: 'Khmer OS';
    src: url('/fonts/KhmerOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'Khmer OS', sans-serif;
  }
  .brand-font {
    font-family: 'Roboto', sans-serif;
  } */